.container-snackbar-invalid {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    /* border-top: solid 3px red ; */
}

.content-feedback {
    
    border-radius: 10px;
    width: 15%;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.content-button {
    
    border-radius: 10px;
    width: 15%;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


button {
    border: none;
    outline: none;
    border-radius: 10px;
    width: 70%;
    padding: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-snackbar-success {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    border-top: solid 3px #50f374 ;
}


.warning-icon {
    width: 30px;
    margin-right: 20px;
}