.container-snackbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 6px;
    justify-content: center;
    /* border-top: solid 3px red ; */
}

.content-feedback {
    width: 50px;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.icon-snackbar {
    width: 40px;
}