.welcome-text-content {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#welcome {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#welcome-title {
    font-size: 8vh;
    white-space: nowrap;
}

#welcome-paragraph {
    font-size: 2vh;
}

#content-animated{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.text-animated {
    font-size: 30px;
    /* white-space: nowrap; */
}

.tedtalks-list {
    width: 43%;
    height: 90vh;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#videos-list-title-container {
    height: 150px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#video-list-paragraph {
    font-size: 2vh;
    white-space: wrap;
    text-align: center;
}

#videos-list {
    height: 30vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}