<app-layout-login-registration [imageIsHidden]="imageIsHidden">

   <form class="forms-annotations">
        <input placeholder="Título" class="input-annotations" type="text">
        <input placeholder="Data" class="input-annotations" type="date">
        <input placeholder="Descrição" class="input-annotations" type="text">
        <textarea></textarea>

        <button id="annotation-action" (click)="onAddAnnotation()">
            <img id="image-annotation-action" src="../../../assets//addAnnotation.svg" alt="signup"/>
        </button>
   </form>

    <div class="container-sidenav" frame>
        <mat-drawer-container class="example-container">
            <mat-drawer id="sidenav" #sideNav mode="side" opened="true" position="end">
              <div id="container-search-annotations">
                <input placeholder="Pesquise suas anotações" id="search-annotations">
                <img id="search-icon" src="../../../assets/search.svg"/>
              </div>
              <div id="container-annotations">
                <router-outlet></router-outlet>
              </div>
            </mat-drawer>
            <mat-drawer-content id="container-button-sidenav">
              <button id="button-open-close-sidenav" (click)="sideNav.toggle()">
                <img id="img-open-close-drawer" src="../../../assets//openSidenav.svg" alt="signup"/>
              </button>
            </mat-drawer-content>
          </mat-drawer-container>
    </div>
</app-layout-login-registration>





















