<app-layout-login-registration [imageIsHidden]="imageIsHidden">

   <form class="forms-annotations">
        <input placeholder="Título" class="input-annotations" type="text">
        <input placeholder="Data" class="input-annotations" type="date">
        <input placeholder="Descrição" class="input-annotations" type="text">
        <textarea></textarea>

        <button id="annotation-action">
            <img id="image-annotation-action" src="../../../assets//addAnnotation.svg" alt="signup"/>
        </button>
   </form>

    <!-- <div frame> -->
 
        <mat-drawer-container frame class="example-container" autosize>
     
            <mat-drawer #drawer class="example-sidenav" mode="side">
               <div id="annotations-container">
                    <input id="search-annotation" type="search"/>
               </div>
                <button class="button-sidenav" type="button" mat-button (click)="drawer.toggle()">
                    <img id="open-sidenav" alt="open-frame" src="../../../assets/openSidenav.svg"/>
                </button>
            </mat-drawer>
            <button class="button-sidenav" type="button" mat-button (click)="drawer.toggle()">
                <img id="open-sidenav" alt="open-frame" src="../../../assets/openSidenav.svg"/>
            </button>
          
          </mat-drawer-container>
    <!-- </div> -->
</app-layout-login-registration>








