.forms-annotations {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: space-evenly;
}

.input-annotations {
    width: 70%;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 30px;
    background-color: #fffacd;
}

.input-annotations::placeholder {
    color: black;
    letter-spacing: 1px;
}

textarea {
    width: 70%;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #fffacd;
    margin-top: 30px;
}

#annotation-action {
    background-color: #50f374;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 25%;
    cursor: pointer;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-container {
    height: 100vh;
}

#sidenav {
    background-color: #50f374;
    width: 50vw;
    height: 100vh;
}
.mat-drawer-content {
    width: 50px;
    background-color: #50f374;
    height: 50vh;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

#button-open-close-sidenav {
    border: none;
    outline: none;
    background-color: #50f374;
    height: 50vh;

}

#img-open-close-drawer {
    width: 30px;
    padding: 10px;
}

#container-search-annotations {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
}
#search-annotations {
    border: none;
    outline: none;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}

#search-icon {
    width: 30px;
    padding-left: 10px;
    cursor: pointer;
}

#search-annotations::placeholder {
    font-size: 15px;
    letter-spacing: 1px;
}

