#forms-login {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
}

#title-login {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2vw;
}

.input-login {
  width: 70%;
  padding: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #fffacd;
}

.input-login::placeholder {
  color: black;
  letter-spacing: 1px;
  font-size: 1.1vw;
}

#login-action {
  background-color: #50f374;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 23%;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-register-action {
  width: 60%;
}

.snack-style {
  position: absolute;
  background-color: red;
}