<app-layout-login-registration [viewSnackbar]="viewSnackbar" [message]="messageSnackBar">
    <p id="title-login">Seja bem-vindo!</p>
    
    <form [formGroup]="signupForm" id="forms-login" (ngSubmit)="signUp()">
        <input formControlName="userEmail" class="input-login" placeholder="E-mail" type="email">

        <!-- <span *ngIf="this.signupForm.get('userEmail')?.invalid && this.signupForm.get('userEmail')?.touched">
           Insira um e-mail válido <img id="warning-icon" src="../../../assets//warningIcon.png"/>
        </span> -->
        <input formControlName="userPassword" class="input-login"  placeholder="Senha" type="password">

        <button id="login-action">
            <img id="login-register-action" src="../../../assets//login.svg" alt="signup"/>
        </button>
    </form>
</app-layout-login-registration>

