<app-layout-login-registration>
    <p class="title-register">Precisamos de algumas informações <br/> para fazer o seu cadastro!</p>

    <form id="forms-register">
        <input class="input-register" placeholder="Nome completo" type="text">
        <input class="input-register" placeholder="E-mail" type="email">
        <input class="input-register"  placeholder="Senha" type="password">
        <input class="input-register"  placeholder="Confirmação de senha" type="password">

        <button id="register-action">
            <img id="image-register-action" src="../../../assets//register.svg" alt="signup"/>
        </button>
    </form>
</app-layout-login-registration>

