.pageHome {
  width: 100%;
  height: 100%;
  /* background: rgb(53, 53, 53);
  background: radial-gradient(
    circle,
    rgba(53, 53, 53, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  ); */

  display: flex;
  flex-direction: column;
}

.initial-content {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-direction: column;
  align-items: flex-start;
}

.child-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 5vw;
  white-space: normal;
  line-height: 1.5;
}

#logo {
  margin-left: 40px;
}

.description {
  letter-spacing: 1px;
  align-items: flex-start;
  animation: paragraph-opacity ease-in-out 3.5s;
}

.register-action {
  width: 35%;
  height: 10vh;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #50f374;
  cursor: pointer;
}

.register-image {
  width: 70px;
}

/* conntent 2 */
.initial-content-2 p {
  font-size: 70px;
  letter-spacing: 1px;
  white-space: inherit;
  line-height: 1.5;
}

/* content 3 */
.initial-content-3 {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-evenly;
}

.initial-content-3{

  font-size: 30px ;
}

#your-learning {

  font-size: 5vw;
}

#entry-button {
  display: flex;
  /* flex-direction: column; */

  align-items: center;
  height: 100px;

}

#entry-button p {

  font-size: 70px;
  
}

#login-action {
  width: 25%;
  height: 10vh;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #50f374;
  cursor: pointer;
  margin-left: 10%;
}

#back-top {
  font-size: 25px;
  cursor: pointer;
  transition: color 300ms linear;

}

#back-top:hover {
  
  /* transform: scale(1.08); */
  color: #50f374;
}



@keyframes paragraph-opacity  {

  from {
    opacity: 0;
  }


  to {
    transition: ease-in-out 1s;
    opacity: 1.5;
  }
}