<div class="pageHome">
  <!-- content 1 -->
  <app-layout-home [image]="poster">
    <div class="initial-content">
      <div class="child-content">
        <h1 class="title" data-aos="fade-right" data-aos-duration="1500">
          Check Learning
        </h1>
        <img
          data-aos="zoom-in-up"
          data-aos-duration="1000"
          id="logo"
          alt="logo"
          src="../../../assets/miniLogo.svg"
        />
      </div>

      <p
        class="description"
      >
        Um site feito para VOCÊ aprender!
      </p>

      <button class="register-action" (click)="navigateToRegistration()">
        <img
          class="register-image"
          alt="register"
          src="../../../assets//register.svg"
        />
      </button>
    </div>
  </app-layout-home>

  <!-- content 2 -->
  <app-layout-home [ngStyle]="{ marginTop: '15vh' }" [image]="poster">
    <div class="initial-content-2">
       <p data-aos="fade-right" data-aos-duration="2000"> Um jeito diferente </p> 
       <p data-aos="fade-right" data-aos-duration="300">de registrar e </p> 
       <p data-aos="fade-right" data-aos-duration="2000">checar</p> 
   
    </div>
  </app-layout-home>

  <!-- content 3 -->
  <app-layout-home [ngStyle]="{ marginTop: '15vh' }" [image]="learnerMethod">
    <div class="initial-content-3">
      <p data-aos="fade-right" data-aos-duration="15000" id="your-learning">
        O seu 
      </p>
      <p data-aos="fade-right" data-aos-duration="2500" id="your-learning">
        aprendizado
      </p>

      <div id="entry-button">
        <p>Entre</p>
        <button id="login-action" (click)="navigateLogin()">
          <img
          data-aos="fade-right"
          data-aos-duration="1500"
            class="register-image"
            alt="register"
            src="../../../assets/login.svg"
          />
        </button>
      </div>

      <p id="back-top">Ou volte ao topo e registre-se</p>
    </div>
  </app-layout-home>
</div>
