<div [ngStyle]="{display: 'flex'}">
    <header id="navigator">
        <div id="register-logo-content">
            <img [routerLink]="['/']" class="logo" src="../../../assets/newLogo.png" alt="logo">
            <img [routerLink]="['/cadastro']" class="register-action" src="../../../assets//register.svg" alt="register">
        </div>
    
        <div id="post-it-images-content" >
            <img id="miniPostIt" src="../../../assets/miniPostIt.svg" alt="postit">
    
            <div id="miniAnnotation">
                <img  src="../../../assets//miniAnnotation.svg" alt="anotation">
            </div>
        </div>
    
        <button (click)="logout()">Logout</button>
    </header>
    <div class="container-login">
        <div class="container-forms" [ngClass]="changeClasses ? 'container-forms-column' : ''">
            <ng-content></ng-content>
        </div>
    
        <div *ngIf="!imageIsHidden; else other_content" class="big-post-its">
            <!-- <img class="image-big-postit" src="../../../assets//bigpostIts.svg"/> -->
            <app-lottie [options]="options"></app-lottie>
        </div>
    
        <ng-template class="conditional-content" #other_content>
            <ng-content select="[frame]"></ng-content>
        </ng-template>
    </div>
</div>









