<div id="container-login">
    <header id="navigator">
        <div id="register-logo-content">
            <img [routerLink]="['/']" id="logo" src="../../../assets/miniLogo.svg" alt="logo">
            <img [routerLink]="['/cadastro']" id="register-action" src="../../../assets//register.svg" alt="register">
        </div>

        <div id="post-it-images-content" >
            <img id="miniPostIt" src="../../../assets/miniPostIt.svg" alt="postit">

            <div id="miniAnnotation">
                <img  src="../../../assets//miniAnnotation.svg" alt="anotation">
            </div>
        </div>
    </header>

    <div class="container-forms">
        <ng-content></ng-content>
    </div>

    <div *ngIf="!imageIsHidden; else other_content" class="big-post-its">
        <img class="image-big-postit" src="../../../assets//bigpostIts.svg"/>
    </div>

    <ng-template #other_content>
        <ng-content select="[frame]"></ng-content>
    </ng-template>
</div>






