.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.container-annotation {
  width: 100%;
  height: 200px;
  background-color: #F4F4F4;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 40px;
}

.container-actions-annotation {
  background-color: #F4F4F4;
  border-radius: 0px 0px 10px 10px;
  height: 50px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.action-annotation {
  border-radius: 10px;
  background-color: #393939 ;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 7px;
}

.container-annotation::-webkit-scrollbar {
  width: 3px;
}
.container-annotation::-webkit-scrollbar-track {
  background-color: transparent;
}
.container-annotation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}
.container-title-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-size: larger;
  color: #393939;
}

.container-date {
  
}

.date {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
  color: #393939;
  white-space: nowrap;
}

.description {
  padding-top: 20px;
  letter-spacing: 1px;
  /* white-space:normal; */
  /* width: 100px; */
  word-wrap: break-word;
}

.annotation {
  padding-top: 20px;
  letter-spacing: 1px;
  /* width: 100px; */
  word-wrap: break-word;
}
