<div class="container">
    <div *ngFor="let annotation of userAnnotations; let i =index">
        <div class="container-annotation" *ngIf="annotation !== undefined">
            <div class="container-title-date">
                <h1 class="title">{{annotation.title}}</h1>

                <div class="container-date">
                    <p class="date">Criado em: {{annotation.createdAt}}</p>
                    <p class="date">Últ. atualização: {{annotation.updatedAt}}</p>
                </div>
            </div>
            <p [id]="elements[i]">{{getValuesOfObject(annotation.annotation, elements[i])}}</p>
        </div>

        <div class="container-actions-annotation" *ngIf="annotation !== undefined">
            <button class="action-annotation"><img src="../../../assets/checkIcon.svg" alt="Ver anotação"/></button>
            <button (click)="onUpdateAnnotation(annotation, annotation.id)" class="action-annotation"><img src="../../../assets/editIcon.svg" alt="Editar anotação"/></button>
            <button (click)="onDeleteAnnotation(annotation.id, i)" class="action-annotation"><img src="../../../assets/deleteIcon.svg" alt="Deletar anotação"/></button>
        </div>
    </div>

</div>